section{
    background-image: url("../../../../assets/imags/auth.png");
    background-size: cover;
    height: 100vh;
}
[_nghost-ng-c2040221903]{
    height: 170px;
    width: 170px;
    margin: 20px auto;
    border-radius: 50%;
}